[submodule "raytracer/thirdpart/glfw"]
	path = raytracer/thirdpart/glfw
	url = https://github.com/glfw/glfw.git
[submodule "raytracer/thirdpart/tinyobjloader"]
	path = raytracer/thirdpart/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
